<div class="container">
  <h2>Форма регистрации</h2>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-group">
      <label for="name">Имя:</label>
      <input type="text" class="form-control" formControlName="name" id="name" placeholder="Введите имя">
      <div *ngIf="submitted && f.name.errors">
        <div *ngIf="f.name.errors.required">Имя обязательно</div>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" formControlName="email" placeholder="Введите email">
      <div *ngIf="submitted && f.email.errors">
        <div *ngIf="f.email.errors.required">Email обязателен</div>
        <div *ngIf="f.email.errors.email">Не валидный Email</div>
      </div>
    </div>
    <div class="form-group">
      <label for="pwd">Пароль:</label>
      <input type="password" class="form-control" id="pwd" formControlName="password" placeholder="Введите пароль">
      <div *ngIf="submitted && f.password.errors">
        <div *ngIf="f.password.errors.required">Пароль обязателен</div>
        <div *ngIf="f.password.errors.minlength">Длина 6 символов</div>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary">Регистрация</button>
    </div>
  </form>
</div>

<div class="container">
  <h1>Angular WebSocket Starter Demo</h1>

  <div class="row">
    <div class="messages">
      <ul *ngIf="messages$ | async as messages">
        <li *ngFor="let message of messages">
          <strong>№{{ message.id }}:</strong> {{ message.text }}
        </li>
      </ul>
    </div>

    <div class="counter">
      <strong *ngIf="counter$ | async as counter">Update websocket counter: {{ counter }}</strong>
    </div>
  </div>

  <!-- <div class="row">
    <form [formGroup]="form" autocomplete="off" novalidate (submit)="sendText()">
      <div class="form-group">
        <div class="form-control">
          <textarea placeholder="Email" autocomplete="off" formControlName="text"></textarea>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" [disabled]="form.invalid">Send text</button>
      </div>
    </form>

    <div class="texts">
      <ul *ngIf="texts$ | async as texts">
        <li *ngFor="let text of texts; let i = index;">
          {{ text }}
          <span class="remove" (click)="removeText(i)">x</span>
        </li>
      </ul>
    </div>
  </div> -->

</div>
